.header {
  background-color: rebeccapurple;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_container {
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 30%;
}

.header_right_block {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 14px;
}

.radio_input_label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.radio_input {
  padding: 2px 4px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.search_btn {
  padding: 2px 4px;
  cursor: pointer;
}

.header_left_block {
  margin-right: 10px;
}
